@{
    ViewBag.Title = "Messages";
    Layout = "~/Areas/Social/Views/Shared/_Layout.cshtml";
}
<h1 class="itemtitle">messages</h1>
<div class="aux-tabcontent" style="display: block; ">
   @Html.Action("RenderInline", "GadgetServer", new {url = "~/content/gadgets/social/Messages.xml", mode = "inline", area= "Portal" })
</div>
