<?xml version="1.0" encoding="utf-8" ?>
<settings environment="development">
  <oauth>
    <services>
      <service appId="~/content/gadgets/oauth/oauth.xml" name="oauth-sandbox">
        <consumer>
          <key>a91ac1c8b1eb80d1</key>
          <secret>0491e45380928396b166b6bffd09</secret>
          <type>HMAC-SHA1</type>
        </consumer>
      </service>
      <service appId="http://catpic.apphb.com/content/gadgets/oauth/contacts.xml" name="google">
        <consumer>
          <key>catpic.apphb.com:512382790342</key>
          <secret>w1qHycjwTYaZNuGFSF5m9DCR</secret>
          <type>HMAC-SHA1</type>
        </consumer>
      </service>
      <!--<service appId="http://catpic.apphb.com/content/gadgets/experimental/DiscussionsGadget.gadget.xml" name="discussionsGadget">
        <consumer>
          <key>catpic.apphb.com</key>
          <secret>tM_h3nvT22-oHt7WJk36UtTV</secret>
          <type>HMAC-SHA1</type>
        </consumer>
      </service>
      <service appId="http://catpic.apphb.com/content/gadgets/experimental/DocsFolderGadget.gadget.xml" name="docsFolderGadget">
        <consumer>
          <key>catpic.apphb.com</key>
          <secret>tM_h3nvT22-oHt7WJk36UtTV</secret>
          <type>HMAC-SHA1</type>
        </consumer>
      </service>
      <service appId="http://catpic.apphb.com/content/gadgets/experimental/PersonalNotesGadget.gadget.xml" name="personalNotesGadget">
        <consumer>
          <key>catpic.apphb.com</key>
          <secret>tM_h3nvT22-oHt7WJk36UtTV</secret>
          <type>HMAC-SHA1</type>
        </consumer>
      </service>
      <service appId="http://catpic.apphb.com/content/gadgets/experimental/PhoneBook.gadget.xml" name="phoneBookGadget">
        <consumer>
          <key>catpic.apphb.com</key>
          <secret>tM_h3nvT22-oHt7WJk36UtTV</secret>
          <type>HMAC-SHA1</type>
        </consumer>
      </service>-->
    </services>
  </oauth>
  <oauth2>
    <services>
      <service appId="~/content/gadgets/oauth2/oauth2_facebook.xml" name="facebook" usesAuthHeader="false">
        <consumer>
          <clientId>247384162048636</clientId>
          <secret>91693ac40444820b71643443ba5aa28d</secret>
          <type>standard</type>
        </consumer>
      </service>
      <service appId="~/content/gadgets/oauth2/oauth2_google.xml" name="googleAPI" usesAuthHeader="false">
        <consumer>
          <clientId>1005534608690.apps.googleusercontent.com</clientId>
          <secret>Bcw0yo5dVzzyKYBF8_aciLU4</secret>
          <type>standard</type>
        </consumer>
      </service>
    </services>
  </oauth2>
</settings>