@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Social/Views/Shared/_Layout.cshtml";
}
<h1 class="itemtitle">user profile</h1>
<div class="aux-tabcontent" style="display: block; ">
    @Html.Action("RenderInline", "GadgetServer", new { url = "~/content/gadgets/social/Profile.xml", mode = "inline", area = "Portal" })
</div>