<ul id="topSubNavigation">
	<li class="current">@Html.ActionLink("Info", "Index", "About", new {area ="Portal"}, null)</li>
	<li>@Html.ActionLink("License", "License", "About", new { area = "Portal" }, null)</li>
</ul>