<ul id="topSubNavigation">
    <li class="current">@Html.ActionLink("Login", "Login", "Account", new {area ="Portal"}, null)</li>
    <li>@Html.ActionLink("Register", "Register", "Account", new {area ="Portal"}, null)</li>
</ul>