 <ul id="topSubNavigation">
	<li class="current">@Html.ActionLink("Welcome", "Index", "Home", new {area ="Portal"}, null)</li>
	<li>@Html.ActionLink("Details", "Details", "Home", new {area ="Portal"}, null)</li>
	<li>@Html.ActionLink("Features", "Features", "Home", new {area ="Portal"}, null)</li>
	<li>@Html.ActionLink("Resources", "Resources", "Home", new { area = "Portal" }, null)</li>
</ul>