<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="catpic" type="Catpic.Utils.Configuration.ConfigSectionHandler, Catpic.Utils"/>
  </configSections>
  <catpic>
    <configs>
      <config include="test.host.config" location="file" optional="false" />
      <config include="test.containers.config" location="file" optional="false" />
      <config include="test.utils.config" location="file" optional="false" />
      <config include="test.oauth.config" location="file" optional="false" />
    </configs>
  </catpic>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
