<?xml version="1.0" encoding="utf-8" ?>
<settings environment="development">
  <oauth>
    <services>
      <service appId="~/content/gadgets/oauth/oauth.xml" name="oauth-sandbox">
        <consumer>
          <key>5f3c36b7ef5cd3ac</key>
          <secret>964709b9ab578e7b3d12fdde72d2</secret>
          <type>HMAC-SHA1</type>
        </consumer>
      </service>
    </services>
  </oauth>
</settings>