<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">
  <containers>
    <container name="default" type="Catpic.Gadgets.Containers.DefaultContainer, Catpic.Gadgets">
      <config path="container.js" />
      <!-- the set of features-->
      <features>
        <!-- only one include is supported by current implementation-->
        <include set="default">
          <!-- container features -->
          <container>
            <!--<feature name="container" />-->
            <feature name="shindig-container" />
          </container>
          <!-- core features of the set which will be included for all gadgets-->
          <core>
            <feature name="core" />
          </core>
        </include>
        <include set="extras" />
      </features>
    </container>
  </containers>
</settings>