<?xml version="1.0" encoding="utf-8" ?>
<settings environment="test">
  <features>
    <set name="default" type="Catpic.Gadgets.Containers.FeatureSet, Catpic.Gadgets"
         location="features/features" index="features.txt">
      <resources>
        <include path="features/features-resources" />
      </resources>
    </set>
    <set name="extras" type="Catpic.Gadgets.Containers.FeatureSet, Catpic.Gadgets"
             location="features/features-extras" index="features.txt">
      <resources>
        <include path="features/resources" />
      </resources>
    </set>
  </features>
  <!-- rendering settings-->
  <rendering>
    <container>
      <pipeline>
        <module name="feature" type="Catpic.Gadgets.Rendering.Container.FeatureContainerRenderModule, Catpic.Gadgets" />
        <module name="metadata" type="Catpic.Gadgets.Rendering.Container.MetadataContainerRenderModule, Catpic.Gadgets" />
      </pipeline>
    </container>
    <gadget>
      <pipeline>
        <!-- renders view-->
        <module name="views" type="Catpic.Gadgets.Rendering.Gadget.ViewGadgetRenderModule, Catpic.Gadgets" />
        <!-- resolve feature dependencies-->
        <module name="features" type="Catpic.Gadgets.Rendering.Gadget.FeatureGadgetRenderModule, Catpic.Gadgets" />
        <!-- renders user preferences-->
        <module name="userPrefs" type="Catpic.Gadgets.Rendering.Gadget.UserPreferencesGadgetRenderModule, Catpic.Gadgets" />
        <!-- localize messages-->
        <module name="messages" type="Catpic.Gadgets.Rendering.Gadget.MessageGadgetRenderModule, Catpic.Gadgets" />
        <!-- renders init and onLoad scripts. should be last -->
        <module name="util" type="Catpic.Gadgets.Rendering.Gadget.UtilGadgetRenderModule, Catpic.Gadgets" />
        <!-- replace all script tags with src with single one-->
        <module name="concat" type="Catpic.Gadgets.Rendering.Gadget.ConcatGadgetRenderModule, Catpic.Gadgets" />
      </pipeline>
    </gadget>
  </rendering>
</settings>