@{
    ViewBag.Title = "Catpic Details";
    Layout = "~/Areas/Portal/Views/Shared/_Layout.cshtml";
}
<div class="homepage-hero-small">
	<h1>
		<span>Scalable.</span> 
		<span>Open.</span> 
		<span>Extensible.</span>
	</h1>
</div>
<p class="sub-hero-message"><b>Catpic</b> is an open source <i>.NET</i> project which implements OpenSocial container and provides ability to use <i>Google gadgets</i> -  simple HTML and JavaScript applications that can be embedded in webpages and other apps.  Gadgets are developed by Google and third-party developers using the Google Gadgets API and basic web technologies such as XML, JavaScript, Flash.
    This site is just demo: <b>Catpic</b> is distributed as <i>.NET assemblies</i> and resource files (javascript API and server configuration files). It provides:
</p>
<div style="padding-left:20px">
    <ul class="arrow-bullets">
        <li>opensocial container specification 1.1(2.0) implementation (in progress)</li>
        <li>implementation of google gadgets specification (done partially)</li>
        <li>ability to process platform-independed components - gadgets</li>
        <li>fully <i>.NET</i> implementation on server side</li>
        <li>extensibility by custom modules</li>
        <li>simple integration into existing <i>ASP.NET</i>/ <i>ASP.NET MVC</i> application via <a href="http://nuget.org">NuGet</a> package</li>
    </ul>
</div>