@{
    ViewBag.Title = "Useful Resources";
    Layout = "~/Areas/Portal/Views/Shared/_Layout.cshtml";
}
@*<ul>
    <li><a href="http://catpic.codeplex.com">Project repository</a></li>
    <li><a href="http://shindig.apache.org/">Apache Shindig</a></li>
    <li><a href="https://developers.google.com/gadgets/docs/dev_guide">gadgets.* API Developer's Guide</a></li>
    <li><a href="http://www.google.com/ig/directory?synd=open ">iGoogle gadget catalog</a></li>
</ul>
*@


<div id="content" class="textpage">
   <h2>useful resources</h2>
    <div class="content-blocks">
       <div class="col">
            <a href="http://opensocial.org" class="blue-box" onclick="">
                <span>opensocial<br>standard</span>
            </a>
            <div>
                <a href="http://docs.opensocial.org/display/OSD/Specs">OpenSocial specs</a>
            </div>
            <p>
               Friends are fun, but they're only on some websites. OpenSocial helps these sites share their social data with the web. Applications that use the OpenSocial APIs can be embedded within a social network itself, or access a site's social data from anywhere on the web
            </p>
            <span>
                <a href="http://opensocial.org" title="Forums" class="site-arrowlink1">Visit Site</a>
            </span>
        </div>
        <div class="col">
            <a href="http://shindig.apache.org/" class="green-box" onclick="">
                <span>apache<br/>shindig</span>
            </a>
            <div>
                <a href="http://shindig.apache.org/community/index.html">Community help</a>
            </div>
            <p>
                Apache Shindig is an OpenSocial container and helps you to start hosting OpenSocial apps quickly by providing the code to render gadgets, proxy requests, and handle REST and RPC requests.
            </p>
            <span>
                <a href="http://shindig.apache.org/" title="Forums" class="site-arrowlink1">Visit Site</a>
            </span>
        </div>
         <div class="col">
            <a href="https://developers.google.com/gadgets/docs/dev_guide" class="pink-box" onclick="">
                <span>gadget<br>api</span>
            </a>
            <div>
                <a href="https://developers.google.com/gadgets/docs/dev_guide">Developer's API</a>
            </div>
            <p>
                Gadgets are mini-applications built using HTML, with JavaScript, Flash or Silverlight for dynamic behaviors. Since gadgets can run on multiple sites and platforms, there are special tags and libraries that work in different places.
            </p>
            <span>
                <a href="https://developers.google.com/gadgets/docs/dev_guide" title="Forums" class="site-arrowlink1">View Docs</a>
            </span>
        </div>
         <div class="col">
            <a href="http://catpic.codeplex.com" class="blue-box" onclick="">
                <span>project<br/> repository</span>
            </a>
            <div>
                <a href="#">Contribute</a>
            </div>
            <p>
                Official project repository. You can find the latest releases, documentation, report issues, etc.
            </p>
            <span>
                <a href="http://catpic.codeplex.com/SourceControl/list/changesets" title="Source code" class="site-arrowlink1">Download sources</a>
                <a href="http://catpic.codeplex.com/workitem/list/basic" title="Issues" class="site-arrowlink1">Report issue</a>
                <a href="http://catpic.codeplex.com/documentation" title="Docs" class="site-arrowlink1">See docs</a>
            </span>
          </div>
    </div>
   <div id="disqus_thread"></div>
</div>