@{
    ViewBag.Title = "Catpic source code";
    Layout = "~/Areas/Portal/Views/Shared/_Layout.cshtml";
}
<h2>checkout via mercurial</h2>
<div><i>Clone URL: https://hg.codeplex.com/catpic </i></div>
<h2 style="padding-top:16px">download archive</h2>
<div><a href="http://catpic.codeplex.com/SourceControl/list/changesets"><i>Catpic at codeplex</i></a></div>